<launch>

  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
  <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic_viewer.launch" />
  <include file="$(find usb_cam)/launch/xycar_cam.launch" />
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" />
  
  <node name="auto_drive" pkg="test" type="ar_tag_test.py" output="screen" />
</launch>
